	* {
    margin: 0;
    padding: 0;
	}

main {
  display: block;
  background: #464F54;
  padding: 5em 2em 2em;
}

.main__heading {
	display: block;
	box-sizing: border-box;
  position: absolute;
  right: 0;
  top: -3em;
  width: 100%;
}

.main__heading:after,
main:after {
  content: '';
  display: block;
  clear: both;
}

.logo_one{
	float: right;
	padding: 2vw;
	background-color: black;
	width: 70%;
	color: white;
	font-size: 20px;
}

.logo_one p {
	color: #464F54;
	font-size: 20px;
}

p.underline{
	color: white;
	font-size: 30px;
	border-bottom: solid 1px #464F54;
}
.logo_two{
	background-color: #F6BC2C;
	height: 3vw;
	width: 70%;
	float: right;

}
.fa-font{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 50%;
}
.fa-bold{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 50%;
}
.fa-underline{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 50%;
}
.fa-align-center{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 50%;
}
.fa-align-justify{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 50%;
}
.fa-font:hover{
	color: white;
	opacity: 1;
	cursor: pointer;
}
.fa-bold:hover{
	color: white;
	opacity: 1;
	cursor: pointer;
}
.fa-underline:hover{
	color: white;
	opacity: 1;
	cursor: pointer;
}
.fa-align-center:hover{
	color: white;
	opacity: 1;
	cursor: pointer;
}
.fa-align-justify:hover{
	color: white;
	opacity: 1;
	cursor: pointer;
}

section {
	background: white;
	display: block;
  position: relative;
	padding: 6em 3em 3em;
}

.text {
	background: white;
	display: block;
	margin: auto;
	border-left: 2px solid black;
  padding-left: 2em;
}


div .Oswald	{
	font-family: 'Montserrat', sans-serif;
	position: relative;
	color:#464F54 ;
	top: 30px;
	
}
.text_content{
	padding: 10px;
	font-size: 20px;
}

div h1{

	font-size: 50px;
  line-height: 1.4;
  margin: 3vw 0 3vw 0;
}
div h2{
	font-size: 25px;
	position: relative;
	bottom: 30px;
	color:#464F54 ;
}